beautifulsoup4==4.9.3
blis==0.7.4
breadability==0.1.20
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
docopt==0.6.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
Flask==1.1.2
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
lxml==4.6.3
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.5
numpy==1.20.2
packaging==20.9
pathy==0.4.0
preshed==3.0.5
pycountry==20.7.3
pydantic==1.7.3
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
smart-open==3.0.0
soupsieve==2.2.1
spacy==3.0.5
spacy-legacy==3.0.2
srsly==2.4.0
sumy==0.8.1
thinc==8.0.2
tqdm==4.60.0
typer==0.3.2
urllib3==1.26.4
wasabi==0.8.2
Werkzeug==1.0.1
